In [1]:
# Cleaning Raw Data from DJI and MIB
# By Chris Chiang
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
# Load in raw data
data_loc = '../raw_data/Market_data/'
dow_df = pd.read_csv(
    data_loc + 'Dow Jones Industrial Average Historical Data.csv')
MIB_df = pd.read_csv(data_loc + 'FTSE MIB Historical Data.csv')
dow_df.head()

           Date      Price       Open       High        Low     Vol. Change %
0  Mar 27, 2020  21,636.78  21,898.47  22,327.57  21,469.27  591.33M   -4.06%
1  Mar 26, 2020  22,552.17  21,468.38  22,595.06  21,427.10  713.73M    6.38%
2  Mar 25, 2020  21,200.55  21,050.34  22,019.93  20,538.34  803.31M    2.39%
3  Mar 24, 2020  20,704.91  19,722.19  20,737.70  19,649.25  808.47M   11.37%
4  Mar 23, 2020  18,591.93  19,028.36  19,121.01  18,213.65  801.24M   -3.04%

In [3]:
# Grab only change, price, and reformat date for DOW
new_dow_df = pd.DataFrame()
for index, row in dow_df.iterrows():
    date = dt.datetime.strptime(dow_df.iloc[index]['Date'], '%b %d, %Y').date()
    row = pd.DataFrame(
        {'Date': date, 'Price': row['Price'], 'Change %': row['Change %']}, index=[index])
    new_dow_df = pd.concat([row, new_dow_df])
new_dow_df.tail()

         Date      Price Change %
4  2020-03-23  18,591.93   -3.04%
3  2020-03-24  20,704.91   11.37%
2  2020-03-25  21,200.55    2.39%
1  2020-03-26  22,552.17    6.38%
0  2020-03-27  21,636.78   -4.06%

In [4]:
# Grab only change, price, and reformat date for MIB
new_MIB_df = pd.DataFrame()
for index, row in MIB_df.iterrows():
    date = dt.datetime.strptime(MIB_df.iloc[index]['Date'], '%b %d, %Y').date()
    row = pd.DataFrame(
        {'Date': date, 'Price': row['Price'], 'Change %': row['Change %']}, index=[index])
    new_MIB_df = pd.concat([row, new_MIB_df])
new_MIB_df.tail()

         Date      Price Change %
4  2020-03-23  15,559.80   -1.09%
3  2020-03-24  16,948.60    8.93%
2  2020-03-25  17,243.68    1.74%
1  2020-03-26  17,369.38    0.73%
0  2020-03-27  16,822.59   -3.15%

In [5]:
new_dow_df.to_csv('../cleaned_data/us_market.csv', index=False)
new_MIB_df.to_csv('../cleaned_data/italy_market.csv', index=False)