In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from datetime import timedelta

In [4]:
#Open excel workbook and first sheet
xls = pd.ExcelFile("C:/Users/jason/D3-Visaulization/raw_data/Brent_oil_price.xls")
df = pd.read_excel(xls, "Data 1")
df.head()

,Back to Contents,Data 1: Weekly Europe Brent Spot Price FOB (Dollars per Barrel)
0,Sourcekey,RBRTE
1,Date,Weekly Europe Brent Spot Price FOB (Dollars p...
2,1987-05-15 00:00:00,18.58
3,1987-05-22 00:00:00,18.54
4,1987-05-29 00:00:00,18.6