In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
raw_korea_df=pd.read_csv('../raw_data/Market_Data/KOSPI Historical Data.csv')
raw_china_df=pd.read_csv('../raw_data/Market_Data/Shanghai Composite Historical Data.csv')

In [4]:
korea_df=raw_korea_df[["Date","Price","Change %"]].copy()
china_df=raw_china_df[["Date","Price","Change %"]].copy()

In [5]:
korea_df['Date'] =  pd.to_datetime(korea_df['Date'])
china_df['Date'] =  pd.to_datetime(china_df['Date'])

In [7]:
korea_df.head()

        Date     Price Change %
0 2020-03-27  1,717.73    1.87%
1 2020-03-26  1,686.24   -1.09%
2 2020-03-25  1,704.76    5.89%
3 2020-03-24  1,609.97    8.60%
4 2020-03-23  1,482.46   -5.34%

In [9]:
china_df.head()

        Date     Price Change %
0 2020-03-27  2,772.20    0.26%
1 2020-03-26  2,764.91   -0.60%
2 2020-03-25  2,781.59    2.17%
3 2020-03-24  2,722.44    2.34%
4 2020-03-23  2,660.17   -3.11%

In [10]:
korea_df.to_csv('../cleaned_data/korea_market.csv',index=False)
china_df.to_csv('../cleaned_data/china_market.csv',index=False)